@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dominant-color: #ffffff;
  --bg-secondary-color: #8e8c98;
  --bg-complement-color: #211f26;
  --text-dominant-color: #211f25;
  --text-secondary-color: #8e8c98;
  --text-complement-color: #ffffff;
  --accent-color: #d45453;
  --border-dominant-color: #e2dfe6;
}

body {
  color: var(--text-dominant-color);
  background: var(--bg-dominant-color);
  border-color: var(--border-dominant-color);
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
