@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #212427;
  --background-color: #ffffff;
  --primary-color: #406de3;
  --secondary-color: #d3daee;
  --accent-color: #3556b1;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
